@import url('https://fonts.googleapis.com/css2?family=Lemon&display=swap');
body{
    margin:0;
    padding:0;
    background-image: url("./image/Background.svg");
    background-size: cover;
    color:#FFF;
    font-family: 'Lemon', cursive;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}
header{
    display:flex;
    justify-content: center;
}
.container{
    width:80%;
    margin:auto;
    flex-basis:20em;
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
    align-items: center;
}
input[type=submit]{
    background-color: transparent;
    border: none;
    color:#FFF;
    font-size:2.5em;
    font-family: 'Lemon', cursive;
}