@import url('https://fonts.googleapis.com/css2?family=Lemon&display=swap');
body{
  margin:0;
  padding:0;
  font-family: 'Lemon', cursive;
  background-image: url("./image/Background.svg");
  background-size: cover;
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  color:#FFF;
}
header{
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  align-items:center;
}
.button{
  font-family: 'Lemon', cursive;
  display:flex;
  justify-content:space-between;
}
.button input, button{
  font-family: 'Lemon', cursive;
  background-color: transparent;
  border:none;
  color:#FFF;
}
#game{
  width:80%;
  margin:auto;
  display: flex;
  flex-wrap: wrap;
}
#game div {
  border: 1px solid #FFF;
  background-image: url("./image/pooh-bear.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 6em;
  height: 6em;
  margin: 0.5em;
} 
@media all and (min-width: 320px) and (max-width: 767px) {
  header, .button{
    flex-direction:column;
  }
  #game div{
    width: 3em;
    height: 3em;
    margin: 0.3em;
  }
}